body{
    background-image: url("stadium1.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      text-align:center;
}
.contain{
    margin-top:20px;
    margin-left: auto;
    margin-right:auto;
    width:850px;
    height:460px;
    /* border:5px solid rgb(118, 81, 218); */
    /* margin:30% ; */
    position:flex;
    background:linear-gradient(rgb(22, 22, 80),rgb(91, 91, 199),rgb(230, 191, 191));
    color:white;
    border-radius: 20px;
    /* display: inline; */

}
.teams{

    width:750px;
    height:150px;
    display:flex;
    flex-direction: row;
  /* background-color: aliceblue; */
}
#t1{
    width:150px;
    height:150px;
    display: inline;
    margin-right:10px;
    margin-left:100px;
    margin-top:020px
    /* margin:20px; */
    
}
#t2{
    width:150px;
    height: 150px;
    /* float:right; */
    display: inline;
    margin-left:160px;
    margin-top:20px;
    /* margin:20px; */
}
#points{
    font-size:30px;
    font-weight:bolder;
    width: 150px;
    height:40px;
    display: inline;
    border:5px solid black;
    border-radius: 5px;
    margin-top:80px;
    margin-left:110px;
}
.teamname{
    width:800px;
    height:40px;
    margin-bottom: 20px;
    font-size:20px;
    display:inline-block;
    
    /* background-color: antiquewhite; */

}

#l{
    width:100px;
    height:20px;
    /* margin-right:-40px; */
    text-align: left;
    /* background-color: blue; */
    display: inline;
}
#cen{
    width:250px;
    height:20px;
    display: inline-block;
}
#r{
    width:100px;
    height:20px;
    text-align: right;
    /* margin-left: 360px; */
    /* margin-left: 300px; */
    /* background-color: rgb(18, 129, 226); */
    /* float:right; */
    display:inline;
}

#rounds{
    width:700px;
    height:70px;
    margin-top: 15px;
    /* display: inline; */
    background-color: rgb(236, 215, 250);
    border:4px solid white;
    display:inline-block;
}
#team1{
    width:300px;
    height:70px;
    /* border: 2px solid rgb(32, 30, 30); */
  
  display:inline-block;
}
#team2{
    width:300px;
    height:70px;
    /* border: 2px solid rgb(34, 32, 32); */
    display:inline-block;
    margin-left:70px;
    margin-right: auto;

}
#circle{
    
    width:40px;
    height:40px;
    border-radius:20px;
    border:2px solid black;
    display: inline-block;
    margin-left:5px;
    margin-top:10px;
    
}
.buttons{
    width:750px;
    height:50px;
    /* border:5px solid rgb(238, 226, 226); */
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 50px;
    /* position:relative; */
    /* align-items: center; */
        
}
#strike{
    width:350px;
    height:45px;
    border-radius:20px;
    font-size: larger;
    margin-right:10px;
    margin-bottom: 10px;
    /* background-color: grey; */
}
#try{
    font-size: larger;
    width:350px;
    height:45px;
    border-radius:20px;
}
#try:hover{
    background-color:bisque;
    cursor:grab;
}
#strike:hover{
    background-color:rgb(247, 193, 127);
    cursor:grab;
}

h1{
   
    color:rgb(242, 240, 255);
}

.fbbcontent{

    width:600px;
    height:300px;
    border:5px solid rgb(161, 146, 202);
    background: linear-gradient(rgb(22, 22, 80),rgb(91, 91, 199),rgba(39, 24, 179, 0.39));
    border-radius: 20px;
    align-items: center;
    border:5px blue;
    margin-top:140px;
    margin-left: auto;
    margin-right:auto;
}
.tnam{
    font-size:30px;
    width:450px;
    height:100px;
    /* background-color: beige; */
    /* align-items: center; */
    margin-left: auto;
    margin-right:auto;
    margin-bottom:10px;
    font-family:a;
}
#tname1{
    width:250px;
    height:40px;
    font-size: 25px;
    font-style: bold;
    margin: 10px;
    
}#tname2{
    width:250px;
    height:40px;
    font-size: 25px;
    font-style: bold;
    margin:10px
}

/* .link{
    width:150px;
    height:30px;
   
    font-size: 30px;
    font-style: bold;
   
    align-items: center;
    margin-left: auto;
    margin-right:auto;
 
    background-color: rgba(39, 24, 179, 0.171);
} */

/* #a1{
    width:80px;
    height:20px;
    margin-top: auto;
 
  
   color: antiquewhite;
    align-content: center;
}
#a2{
    width:80px;
    height:20px;
    margin-top: auto;
   
  
   color: antiquewhite;
    align-content: center;
} */

#subb{
    width:110px;
    height:40px;
    margin-top: 30px;
    margin-bottom:40px;
    font-size: 30px;
    background-color: transparent;
}
#subb:hover{
    color:rgba(221, 215, 245, 0.767);
}
/* #a1:hover,#a2:hover{
    color:rgb(221, 215, 245);
} */